<!DOCTYPE html>
<html>
  <head>
    <title>Sims Application</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'sims-bundle' %>
  </head>

  <body>
    <%= react_component "Dashboard" %>
  </body>
</html>
